.loaderCircle {
    height: 25px;
    width: 25px;
    margin-top: 25px;
    margin-left: 500px;
    border-radius: 50%;
    border: 2px dashed deeppink;
    transform: scale(0);
    animation: rotate 1s infinite linear ;
}

@keyframes rotate{
    from {
        transform: rotate(0deg) scaleY(1);
    }
    to {
        transform: rotate(360deg) scale(1,2);
    }

}